<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletGetPost</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
 
  
  <context-param>
  <param-name>MySQL</param-name>
  <param-value>database</param-value>
  </context-param>
  
  <servlet>
  <servlet-name> Get Serv </servlet-name>
  <servlet-class>GetServletConfig</servlet-class>
 <init-param>
 <param-name>dbname</param-name>
 <param-value>employee</param-value>
 </init-param>
  </servlet>
  <servlet-mapping> 
  <servlet-name> Get Serv </servlet-name>
  <url-pattern>/GetServletConfig</url-pattern>
  </servlet-mapping>
  
  <filter>
  <filter-name>loginfilter</filter-name>
  <filter-class>LG1</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>loginfilter</filter-name>
  <url-pattern>/dashboard</url-pattern>
  <url-pattern>/profile</url-pattern>
  </filter-mapping>
  
  
  <servlet>
  <servlet-name>pro</servlet-name>
  <servlet-class>AccountProfile</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>pro</servlet-name>
  <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  

  
  
</web-app>
</element>