<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FormProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>RS</servlet-name>
  <servlet-class>com.register.RegisterServelt</servlet-class>
  </servlet> 
  <servlet>
  <servlet-name>SS</servlet-name>
  <servlet-class>com.register.Success</servlet-class>
  </servlet>  
  
  <servlet-mapping>
  <servlet-name>RS</servlet-name>
  <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>SS</servlet-name>
  <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  
</web-app>